triangle
gFlex>=1.1.0
numpy>=1.15,<2
scipy>=1.2
pandas>=0.24
h5py>=2.8.0
six>=1.11.0
scikit-image>=0.15
matplotlib==3.3.4
cmocean>=2.0
shapely>=1.7.1
descartes>=1.1.0
meshplex @ git+https://github.com/kinnala/meshplex
